.category-card {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background: #575151;
background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 50%, #c9c9c9 100%);


  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.category-content h3 {
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .category-content p {
  margin: 6px 0;
  color: #666;
} */


.category-image {
  width: 250px;
  height: 110px;
  object-fit: contain;

  opacity: 0;
  transform: scale(0.95);
  animation: fadeZoomIn 0.6s ease forwards;
}

.category-image:hover{
   transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(71, 71, 71, 0.1);
}

.category-card:hover .category-image {
  transform: scale(1.08);
}

/* Keyframes */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* .image-placeholder {
 width: 110px; 
 height: 110px;
 background: #eaeaea;
  border-radius: 12px; 
  } */