.main-card{
    display: grid;

}

.main-card .product-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
  background-color: #fafafa;
}


.product-card .img-card{
    width: 100%;
    object-fit: cover;
    object-position: center;
}